.site-footer {
  width: 100%;
  display: table;
  position: relative;
  min-height: 10em;
  background-color: $base-font-color;
  color: $white;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.site-footer-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.site-author-byline,
.site-copyright {
  @include center;
  width: 90%;
  text-align: center;
  margin-bottom: 1em;
}

.site-social-list {
  @include center;
  width: 90%;
  max-width: 500px;
  margin-bottom: 1em;
  li {
    display: inline-block;
    min-width: 25px;
    min-height: 25px;
    width: 23%;
    height: 25px;
    a.social-button {
      @include center;
      min-width: 25px;
      min-height: 25px;
      height: 25px;
      width: 25px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      &.twitter {
        background-image: url(/assets/icons/twitter.svg);
      }
      &.linkedin {
        background-image: url(/assets/icons/linkedin.svg);
      }
      &.facebook {
        background-image: url(/assets/icons/facebook.svg);
      }
      &.rss {
        background-image: url(/assets/icons/rss.svg);
      }
    }
  }
}

//color heart in author byline
span.heart {
  color: red;
}
