main.list-page {
  @include center;
  width: 90%;
  margin-bottom: 3em;
  margin-top: 4em;
  @include MQ(M) {
    max-width: 550px;
  }
  @include MQ(XL) {
    max-width: 700px;
  }
}

ul.contents-list {
  @include center;
  width: 100%;
  li.content-list-item {
    margin-bottom: 1em;
    a {
      display: flex;
      flex-direction: column;
      font-weight: normal;
      color: inherit;
      @include MQ(M) {
        flex-direction: row;
        align-items: stretch;
        min-height: 6em;
      }
      @include card;
      section {
        padding: .25em .5em;
      }
      p {
        font-size: .8em;
        line-height: 1.2;
      }
    }
  }
}

.content-list-image {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-height: 8em;
  height: 8em;
  background-size: cover;
  background-repeat: no-repeat;
  @include MQ(M) {
    min-width: 40%;
    width: 40%;
  }
}

.content-list-item {
  time.publish-date {
    color: white;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $base-font-color;
    padding: .25em .5em;
    font-weight: 100;
    z-index:10;
    font-size:.7em;
  }
}
