main.list-page {
  @include center;
  width: 90%;
  margin-bottom: 3em;
  margin-top: 5em;
  @include MQ(M) {
    max-width: 550px;
  }
  @include MQ(XL) {
    max-width: 700px;
  }
}

ul.contents-list {
  @include center;
  width: 100%;
  li.content-list-item {
    position:relative;
    margin-bottom: 1em;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    padding-top:1.5em;
    a {
      display: flex;
      flex-direction: column;
      font-weight: $base-font-weight;
      color: inherit;
      @include MQ(M) {
        flex-direction: row;
        min-height: 6em;
      }
      section {
        padding: .25em .5em;
        box-sizing: border-box;
        @include MQ(M) {
          max-width: 60%;
          width: 60%;
        }
      }
      header.content-list-item-header {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      p {
        font-size: .8em;
        line-height: 1.2;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        flex: 0 0 auto;
      }
    }
    @include MQ(M) {
      padding-top:0px;
      @include card;
      &:hover {
        @include card(3);
      }
    }
  }
}

.content-list-image {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
  display:none;
  // min-height: 8em;
  // height: 8em;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center center;
  @include MQ(M) {
    display:block;
    min-width: 40%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 8em;
    height: 8em;
  }
}

.content-list-item {
  time.publish-date {
    color: white;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: $base-font-color;
    padding: .25em .5em;
    font-weight: 100;
    z-index: 10;
    font-size: .7em;
    @include MQ(M){
      top:0px;
      left:0px;
      right:auto;
    }
  }
}
