div.disqus {
  width: 90%;
  @include center;
  margin-bottom:1em;
  @include MQ(M) {
  	width:100%;
    max-width: $content-max-width;
  }
}

aside#disqus_thread {
  @include center;
  width: 100%;
}

.disqus-noscript-block {
  @include center;
  width: 100%;
  max-width: $content-max-width;
}
