img {
  width: 100%;
  height: auto;
}

img.full {
  width: 100%;
  @include MQ(M) {
    width: 100vw;
    min-width: 100vw;
    position: relative;
    left: -50vw;
    margin-left: #{$content-max-width/2};
  }
}
