//Set font values in abstracts/_variables.scss
@if $use-font-face-module {
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-extralight-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-extralight-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-extralight-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-extralight-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-extralight-webfont.svg") format("svg");
    font-weight: 100;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-extralight-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-extralight-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-extralight-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-extralight-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-extralight-italic-webfont.svg") format("svg");
    font-weight: 100;
    font-style: italic
  }
    @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-light-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-light-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-light-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-light-webfont.svg") format("svg");
    font-weight: 200;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-light-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-light-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-light-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-light-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-light-italic-webfont.svg") format("svg");
    font-weight: 200;
    font-style: italic
  }
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-regular-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-regular-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-regular-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-regular-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-regular-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-regular-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-regular-italic-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-regular-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-regular-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-regular-italic-webfont.svg") format("svg");
    font-weight: normal;
    font-style: italic
  }
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-semibold-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-semibold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-semibold-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-semibold-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-semibold-webfont.svg") format("svg");
    font-weight: 500;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-bold-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-bold-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-bold-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-bold-webfont.svg") format("svg");
    font-weight: 700;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-bold-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-bold-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-bold-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-bold-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-bold-italic-webfont.svg") format("svg");
    font-weight: 700;
    font-style: italic
  }
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-extrabold-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-extrabold-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-extrabold-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-extrabold-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-extrabold-webfont.svg") format("svg");
    font-weight: 900;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font}";
    src: url("/assets/css/fonts/#{$font}/#{$font}-extrabold-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font}/#{$font}-extrabold-italic-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font}/#{$font}-extrabold-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font}/#{$font}-extrabold-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font}/#{$font}-extrabold-italic-webfont.svg") format("svg");
    font-weight: 900;
    font-style: italic
  }
  //Checks for "true" if you want to include a second font.
}

@if $use-font-two {
  @font-face {
    font-family: "#{$font-two}";
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-webfont.eot");
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-webfont.svg") format("svg");
    font-weight: 100;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font-two}";
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extralight-italic-webfont.svg") format("svg");
    font-weight: 100;
    font-style: italic
  }
  @font-face {
    font-family: "#{$font-two}";
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-webfont.eot");
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-webfont.svg") format("svg");
    font-weight: 200;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font-two}";
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-light-italic-webfont.svg") format("svg");
    font-weight: 200;
    font-style: italic
  }
  @font-face {
    font-family: "#{$font-two}";
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-regular-webfont.eot");
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-regular-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-regular-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-regular-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-regular-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font-two}";
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-webfont.eot");
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-webfont.svg") format("svg");
    font-weight: 700;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font-two}";
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-bold-italic-webfont.svg") format("svg");
    font-weight: 700;
    font-style: italic
  }
  @font-face {
    font-family: "#{$font-two}";
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-webfont.eot");
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-webfont.svg") format("svg");
    font-weight: 900;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font-two}";
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-italic-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-two}/#{$font-two}-extrabold-italic-webfont.svg") format("svg");
    font-weight: 900;
    font-style: italic
  }
}

@if $use-font-three {
  @font-face {
    font-family: "#{$font-three}";
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-regular-webfont.eot");
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-regular-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-regular-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-regular-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-regular-webfont.svg") format("svg");
    font-weight: normal;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font-three}";
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-webfont.eot");
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-webfont.svg") format("svg");
    font-weight: 700;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font-three}";
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-bold-italic-webfont.svg") format("svg");
    font-weight: 700;
    font-style: italic
  }
  @font-face {
    font-family: "#{$font-three}";
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-webfont.eot");
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-webfont.svg") format("svg");
    font-weight: 900;
    font-style: normal
  }
  @font-face {
    font-family: "#{$font-three}";
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-italic-webfont.eot");
    src: url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-italic-webfont.eot%3f") format("embedded-opentype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-italic-webfont.woff") format("woff"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-italic-webfont.ttf") format("truetype"),
    url("/assets/css/fonts/#{$font-three}/#{$font-three}-extrabold-italic-webfont.svg") format("svg");
    font-weight: 900;
    font-style: italic
  }
}
