//
// Global
// --------------------------------------------------
html,
body {
  overflow-x: hidden;
  @media (max-width: $screen-xs-max) {
    padding-right: 0;
  }
}

.site-logo {
  position: absolute;
  top: 30px;
  left: 24px;
  width:44px;
  height:44px;
  display: block;
  background-image: url(/assets/images/icons/rw-logo-white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -100em;
  padding-top: .5em;
  overflow: hidden;
  border: 2px solid white;
  border-radius: 50%;
  z-index:999;
  &.home {
    background-image: url(/assets/images/icons/rw-logo.svg);
    border: 2px solid black;
  }
}

.brandLogo--small {
  width: 44px;
  height: 44px;
}

.darkLogo {
  background-image: url(/assets/images/icons/rw-logo.svg);
  border: 2px solid black;
}

.textLogo {
  display: block;
  background-image: url(/assets/images/icons/rw-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0;
  text-indent: -100em;
  overflow: hidden;
  min-height: auto;
}

.textLogo--white {
  background-image: url(/assets/images/icons/rw-logo-white.svg);
  visibility: visible;
}

.textLogo--sidebar {
  width: 100%;
  height: 3em;
  background-size: contain;
  background-position: center;
  opacity: 1;
}

.textLogo--frontpage {
  margin-top: .5em;
  width: 182px;
  height: 70px;
  z-index: $zIndex-5--textlogo-frontpage;
  margin-right: auto;
  margin-left: auto;
  background-size: 100%;
  background-position: center center;
  @include MQ(L) {
    width: 276px;
    height: 170px;
    margin-top: .25em;
  }
}
