//
// Modal
// --------------------------------------------------
.fullscreenModal {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; // temp solution
  height: 100%;
  color: $white;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  background: transparent;
  transition-delay: 0.5s;
  transition: opacity 0.3s ease-in;
  z-index: 9999;
}

.fullscreenModal.active {
  opacity: 1!important;
  visibility: visible;
  transition-delay: 0.5s;
  z-index: 9999;
}

.fullscreenModal h2 {
  font-size: $font-M;
}

.modal-toggle-group {
  position: fixed;
  display: block;
  bottom: 30px;
  right: 3%;
  opacity: 0;
  visibility: hidden;
  transition: all .5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 9999;
}

.modal-toggle-group.active {
  opacity: 1!important;
  visibility: visible;
  &.scaleIn {
    transform: scale(1);
  }
}

.modal-toggle-group,
.modal-toggle-wrapper,
.modal-toggle-close-wrapper,
.modal-toggle-bubble,
.modal-toggle-bubbleShadow {
  height: 44px;
  width: 44px;
  border-radius: 50%;
}

.modal-toggle-wrapper {
  position: absolute;
  top: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
  background-color: transparent;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease-out;
  z-index: $zIndex-7--modal-toggle-wrapper;
}

.modal-toggle-wrapper {
    transition: all 0.3s ease-in-out;
    transform: rotate(-360deg);
  &.active {
    opacity: 0;
    transform: rotate(360deg);
  }
}

.modal-toggle-close-wrapper {
  position: absolute;
  top: 0;
  z-index: $zIndex-6--modal-toggle-close;
  opacity: 0;
  transition: opacity 0.3s;
  .modal-toggle-close {
    position: absolute;
    top: 48%;
    left: 15%;
    display: block;
    width: 30px;
    height: 2px;
    background: transparent;
    transition: background 0.3s;
    z-index: inherit;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      background: inherit;
      width: 100%;
      height: 100%;
      transform: translateZ(0);
      transition: transform 0.5s, background 0s;
    }
    &:before {
      top: -6px;
      transform: rotate(0);
    }
    &:after {
      bottom: -6px;
      transform: rotate(0);
    }
  }
}

.modal-toggle-close-wrapper.active {
  opacity: 1;
  z-index: $zIndex-6--modal-toggle-close;
  .modal-toggle-close {
    background: transparent;
    &:before,
    &:after {
      background: $white;
    }
    &:before {
      top: 0;
      transform: rotate(135deg);
    }
    &:after {
      bottom: 0;
      transform: rotate(225deg);
    }
  }
}

.modal-toggle-bubble {
  position: absolute;
  top: 0;
  background-color: $brand;
  transform: scale(1);
  transition: all 0.3s ease-out;
  z-index: $zIndex-6--modal-toggle-bubble;
}

.modal-toggle-bubble.active {
  transform: scale(100);
  transition: all 0.6s ease-out;
  transition-delay: .4s;
}

.modal-toggle-bubbleShadow {
  position: absolute;
  top: 0;
  background-color: $black;
  transform: scale(1);
  opacity: 1;
  z-index: $zIndex-5--modal-toggle-bubbleshadow;
}

.modal-toggle-bubbleShadow.active {
  transform: scale(1.5);
  opacity: 0;
  transition: all 0.3s ease-out;
}

// share buttons
.h2--shareTitle {
  margin-top: 10px;
  z-index: 9999;
}

.shareWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include MQ(M) {
    flex-direction: row;
    justify-content: space-around;
  }
  @include MQ(retinaLandscape) {
    flex-direction: row;
    justify-content: space-between;
    width:90%;
  }
  @include MQ(sixPlusLandscape) {
    width:90%;
  }
  list-style: none;
  margin: $leading auto 0;
  padding: 0;
  width: 60%;
  li {
    margin-bottom: 2em;
    a.shareButton {
      margin: 0;
      display: block;
      content: '';
      min-width: 50px;
      min-height: 50px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
      @include MQ(M) {
        min-width: 60px;
        min-height: 60px;
      }
      @include MQ(L) {
        min-width: 70px;
        min-height: 70px;
      }
    }
  }
}

.modal-toggle-wrapper {
  background-image: url(/assets/images/icons/share.svg);
}

.shareButton--twitter {
  background-image: url(/assets/images/icons/twitter.svg);
}

.shareButton--facebook {
  background-image: url(/assets/images/icons/facebook.svg);
}

.shareButton--linkedin {
  background-image: url(/assets/images/icons/linkedin.svg);
}

.shareButton--buffer {
  background-image: url(/assets/images/icons/buffer.svg);
}

.shareButton--hackernews {
  background-image: url(/assets/images/icons/ycombinator.svg);
}

.shareButton--pocket {
  background-image: url(/assets/images/icons/pocket.svg);
}

.shareButton--rss {
  background-image: url(/assets/images/icons/rss.svg);
}

.shareButton--email {
  background-image: url(/assets/images/icons/email.svg);
}
