nav.post-nav {
  transition: transform .3s ease-in-out;
  display: flex;
  position: fixed;
  bottom: 20%;
  z-index: 9999;
  min-height: 90px;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #000000;
  height: auto;
  @include MQ(M) {
    bottom:50%;
  }
  a {
    color: white;
    box-shadow: none;
    text-decoration: none;
  }
  &.prev-post {
    left: 0px;
    transform: translateX(-325px);
    @include MQ(M) {
      &:hover {
        transform: translateX(0px)!important;
      }
    }
  }
  &.next-post {
    right: 0px;
    transform: translateX(325px);
    justify-content: flex-start;
    @include MQ(M) {
      &:hover {
        transform: translateX(0px);
      }
    }
  }
  &.open {
    transition: transform .3s ease-in-out;
    transform: translateX(0%);
  }
}

.link-wrapper {
  width: 325px;
}

.link-word {
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: white;
  width: 25px;
  padding: 6px 6px;
}

#the-next-link,
#the-prev-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1.post-nav-title {
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: .25em;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 325px;
    max-width: 325px;
    padding: {
      right: .5em;
      left: .5em;
    }
    @include MQ(M) {
      font-size: 1em;
    }
  }
  time {
    font-size: .6em;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: .5em;
    padding: .25em .5em;
    strong.updated {}
  }
}
