#toggle-search {
  position: absolute;
  top: 38px;
  right: 90px;
  z-index: 999;
  width: 30px;
  height: 30px;
  padding: 6px;
  text-align: center;
  background-image: url(/assets/images/icons/search-white.svg);
  @include MQ(M) {
    right:100px;
  }
  &.light-bg {
    background-image: url(/assets/images/icons/search-black.svg);
  }
}

#close-search {
	position:absolute;
	display:block;
	top:38px;
	right:40px;
	z-index:999999999;
	color:white;
	background-image: url(/assets/images/icons/close.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width:24px;
	height:24px;
	text-indent:-100em;
	overflow:hidden;
  @include MQ(M) {
    right:100px;
  }
}

form.search-form {
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  max-width:100vw;
  z-index: -1;
  overflow-x:hidden;
  opacity: 0;
  height: auto;
  display: block;
  max-height: auto;
  overflow: hidden;
  &.open {
    transition: all .3s ease-in-out;
    opacity: 1;
    z-index: 999999;
  }
}

.form-content {
  min-width: 100%;
  position:relative;
  vertical-align:middle;
  background-color: $search-bg-color;
  min-height: 220px;
  margin: 0px;
}

.form-container {
  position: relative;
  z-index: 15;
  overflow-y: scroll;
  height: 100%;
}

.search-results-container {
  min-height: 100%;
  position: relative;
  padding: 0px;
  margin: 0px;
  z-index: 20;
}

.search-background {
  transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index:-1;
  left: 0px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.95);
}

ul#search-results {
  @include center;
  width:90%;
  max-width: $content-max-width;
  margin-top: 0px;
  padding: 0px;
  list-style: none;
  li.search-result {
  	a {
  		color:$base-font-color;
  		text-decoration:none;
  	}
  	h5 {
  		text-align:center;
  		color:$brand-primary;
  		font-weight:500;
  	}
  	p {
  		text-align:center;
  		font-weight:normal;
  	}
  }
}

#search-input {
  @include centerer;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1.8em;
  font-weight: bold;
  height: 100%;
  line-height: 1.8em;
  text-align: center;
  background-color: transparent;
  color: white;
  @include MQ(M) {
    font-size: 2.2em;
  }
  @include MQ(L) {
    font-size: 2.8em;
  }
}

input::-webkit-input-placeholder {
  font-weight: bold;
  color: white;
}

input:-moz-placeholder {
  font-weight: bold;
  color: white;
}

input::-moz-placeholder {
  font-weight: bold;
  color: white;
}

input:-ms-input-placeholder {
  font-weight: bold;
  color: white;
}

span.input-value {
	font-style:italic;
	color:$brand-primary;
	font-weight:bold;
}

