//
// Typography
// --------------------------------------------------
//
// Credit: Modified based on Typebase.less v0.1.0 | MIT License
// Typesetting variables.
$baseFontSize: 20; // in pixels. This would result in 22px on desktop
$baseLineHeight: 1.4; // how large the line height is as a multiple of font size - 33px
$leading: $baseLineHeight * 1rem;
// Rate of growth for headings
$scale: 1.333;
// Common font size based on 1.333 ratio - modularscale.com
$font-XXS: 0.563rem;
$font-XS: 0.75rem;
$font-S: 1rem;
$font-M: 1.333rem;
$font-L: 1.777rem;
$font-XL: 2.369rem;
$font-XXL: 3.157rem;
$font-XXXL: 4.209rem;
$font-XXXXL: 5.61rem;
// Font type
$title-secondary-font: 'futurapt',
'Futura PT',
sans-serif;

/* Setup */

html {
  /* Change default typefaces here */
  font-family: $base-font-family;
  font-size: 20px;
  font-weight: $base-font-weight;
  color: $base-font-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";
}

body {
  font-size: 80%;
  @include MQ(M) {
    font-size: 85%;
  }
  @include MQ(L) {
    font-size: 100%;
  }
}


/* Copy & Lists */

p {
  line-height: $leading;
  letter-spacing: .01rem;
  margin-bottom: 1em;
  margin-top: 0em;
}

p.u--startsWithDoubleQuote {
  text-indent: -0.43em;
}

ul,
ol {
  margin-top: $leading;
  margin-bottom: $leading;
  padding-left: 22px;
  li {
    line-height: $leading;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}


/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin-top: 1em;
  margin-bottom: .1em;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

h1 {
  font-size: 2.5em;
  text-align: left;
  &.page-title {
    max-width: $content-max-width;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
  }
  &.list-page-title {
    > a {
      font-weight: $heading-font-weight;
      color:$brand-primary;
      text-decoration:none;
    }
  }
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 0.8 * $scale * 1rem;
}

h6 {
  font-size: 0.7 * $scale * 1rem;
}

// a {
//     color: $link-color;
//     text-decoration: none;
//     background-image: linear-gradient(to bottom, rgba($link-color, 0) 75%, rgba($link-color, 0.8) 75%);
//     background-repeat: repeat-x;
//     background-position: 0 22px;
//     background-size: 2px 2px;
//     &:hover {
//         color: $link-hover-color;
//     }
// }

/* Tables */

table {
  margin-top: $leading;
  border-spacing: 0px;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  line-height: $baseLineHeight * $baseFontSize - 0px;
}


/* Code blocks */

code {
  // Forces text to constrain to the line-height. Not ideal, but works.
  vertical-align: bottom;
}

hr {
  border-color: #d5d5d5;
  padding: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin: $leading 0;
}


/* Leading paragraph text */

.lead {
  font-size: $scale * 1rem;
}


/* Hug a the block above you */

.hug {
  margin-top: 0;
}

.is-darkBackgrounded,
.is-darkBackgrounded a,
.is-darkBackgrounded a:hover,
.is-darkBackgrounded a:visited {
  color: #fff;
}
