//From the brillian Chris Coyier here: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.videoWrapper {
    transition: all .3s ease-in-out;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    clear: both;
    cursor: pointer;
    margin-bottom:1.5em;
    &:hover,
    &:active,
    &:focus {
        filter: grayscale(0%);
        cursor: pointer;
    }
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom:1em;
}

.videoWrapper:after {
    content: '';
    display: block;
    width: 100%;
    margin-bottom: 1em;
}

.videoWrapper {
    + h3,
    + h4,
    + p {
        margin-top: 1em;
    }
}

.videoWrapper + h3 {
    margin-bottom: 0px;
    margin-top: .5em;
}
