header,footer,.main,section.top-bar,article,ul,li,ol,#particles-js,.site-copyright {
	display:none!important;
}

div#ie-only {
	visibility:visible;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:90%;
	max-width:500px;
	height:auto;
}

#ie-only img {
	height:100%;
	max-height:100%;
}