{{ partial "site_header.html" . }}
{{$burl := .Site.BaseURL}}
<main role="main" class="article">
    <a href="" id="page-top" class=""></a>
    <article class="{{.Section}}">
        <header{{with .Params.image}} class="hero" style="background-image:url(/assets/images/{{.}})"{{else}} class="hero single-page"{{end}}>
            <div class="header-content">
                <h1 class="no-image">{{.Title}}</h1>
                {{with .Params.subtitle}}<span class="subtitle">{{.}}</span>{{end}}
                <div class="hr-wrapper">
                    <hr>
                </div>
                {{ if and (eq .Section "posts") (.Params.tags) }}
                <div class="article-tags-wrapper">
                    <ul class="article-tags">
                        {{range .Params.tags }}
                        <li><a href="/tags/{{.|urlize}}">{{.|upper}}</a></li>
                        {{end}}
                    </ul>
                </div>
                {{end}}
            </div>
        </header>
        <div class="body-copy">
        {{.Content}}
        </div>
    </article>
    {{ partial "disqus_comments.html" . }}
    {{ partial "pages/previous_and_next_links.html" . }}
</main>
{{ partial "site_footer.html" . }}

