{{ partial "site_header.html" . }}
<main role="main" class="article">
    <a href="" id="page-top" class=""></a>
    <article class="{{.Section}}">
        <header{{with .Params.image}} style="background-image:url(/assets/images/{{.}})"{{else}} class="single-page"{{end}}>
            <div class="header-content">
                {{if eq .Section "posts" }}
                    {{partial "publish_date" . }}<span class="dot"></span>
                    {{with .Params.categories}}
                    <span class="category"><a href="/categories/{{.|urlize}}">{{. |upper}}</a></span>
                    {{end}}
                {{end}}
                <h1>{{.Title}}</h1>
                <div class="hr-wrapper">
                    <hr>
                </div>
                {{if and (eq .Section "posts") (.Params.tags)}}
                <div class="article-tags-wrapper">
                    <ul class="article-tags">
                        {{range .Params.tags }}
                        <li><a href="/tags/{{.|urlize}}">{{.|upper}}</a></li>
                        {{end}}
                    </ul>
                </div>
                {{end}}
            </div>
        </header>
        <div class="body-copy">
        {{.Content}}
        </div>
    </article>
    {{ partial "disqus_comments.html" . }}
    {{ partial "pages/previous_and_next_links.html" . }}
</main>
{{ partial "site_footer.html" . }}
