// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body#home {
  background-color: #cccccc;
  margin-top: 0px;
}

header.home-header {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  min-height: 16em;
  @include MQ(M) {
    min-height: 22em;
    padding-bottom: 4em;
  }
  .home-logo {
    height: 5em;
    width: 10em;
    @include MQ(M) {
      height: 8em;
      width: 14em;
    }
    @include MQ(L) {
      height: 12em;
      width: 18em;
    }
  }
  .home-tagline {
    max-width: 90%;
    text-align: center;
    font-size: 1.2em;
    color: lighten($base-font-color, 20%);
  }
}

ul.homepage-list {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  @include MQ(M) {
    width: 90%;
    margin-top: -4em;
  }
  @include flexlistlayout($gutter: 10px);
  li {
    &:hover {
      .grayscale {
        filter: grayscale(0%);
      }
    }
    header {
      padding: {
        top: .25em;
        bottom: 0em;
        right: .5em;
        left: .5em;
      }
      display:flex;
      flex-direction:column;
      @include MQ(M) {
        min-height: 60px;
      }
    }
    h1 {
      font-size: 1.5em;
      margin: 0px;
      line-height: 1.4;
      padding-bottom: 0px;
      color: $base-font-color;
      flex-grow: 1;
    }
    time {
      font-size: .8em;
      margin: {
        top: auto;
        bottom: 1em;
      }
      font-weight:500;
      color:lighten($base-font-color, 35%);
      @include MQ(M) {
        font-size: 14px;
      }
    }
    @include MQ(M) {
      @include card;
    }
  }
  li:first-child {
    @include MQ(M) {
      font-size: 1.6em;
    }
  }
}
