h3.experience-title {
	border-bottom:3px solid $base-font-color;
	border-top:3px solid $base-font-color;
}

span.work-experience-time {
	font-size:.7em;
	display:block;
	width:100%;
	text-align:right;
	font-family:$base-font-family;
}