<ul class="site-social-list">
    <li>
        <a href="//twitter.com/@{{ .Site.Params.TwitterHandle }}" class="social-button twitter" target="_blank"></a>
    </li>
    <li>
        <a href="//facebook.com/{{ .Site.Params.Facebook }}" class="social-button facebook" target="_blank"></a>
    </li>
    <li>
        <a href="//www.linkedin.com/in/{{ .Site.Params.LinkedIn }}" class="social-button linkedin" target="_blank"></a>
    </li>
    {{if .Site.Params.IncludeRSS }}
    <li>
        <a href="/index.xml" target="_blank" class="social-button rss"></a>
    </li>
    {{end}}
</ul>
