{{if and .Site.Params.UseDisqus (not .Params.removecomments) }}
<div class="disqus">
	<aside id="disqus_thread"></aside>
	<div class="disqus-noscript-block">
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com/" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
	<!-- <script async defer type="text/javascript" src="/assets/js/disqus.js"></script> -->
</div>
{{end}}