{{with .PrevInSection }}
    <a class="post-bottom-link prev" href="{{ .Permalink }}">
      <section class="bottom-link-section" style="background-image:url('{{.Site.BaseURL}}/assets/images/_half/{{ .Params.image }}.jpg');">
        <div class="bottom-link-info">
            <h4 class="bottom-button prev-button"><span class="prev-arrow">&larr;</span> PREV</h4>
            <h2>{{ .Title }}</h2>
            {{partial "publish_date.html" . }}
        </div>
      </section>
      </a>
{{ end }}
{{ with .NextInSection }}
      <a class="post-bottom-link next" href="{{ .Permalink }}">
      <section class="bottom-link-section" style="background-image:url('{{.Site.BaseURL}}/assets/images/_half/{{ .Params.image }}.jpg');">
        <div class="bottom-link-info">
            <h4 class="bottom-button next-button">Next <span class="next-arrow">&rarr;</span></h4>
            <h2>{{ .Title }}</h2>
            {{partial "publish_date.html" . }}
        </div>
      </section>
      </a>
{{ end }}