<div class="resume-contact">
	<a class="resume email" href="mailto:ryan@ryanwatters.io?subject=Ryan Watters resume&body=I read your resume on ryanwatters.io and would like to request writing samples and references." title="Email Ryan Watters">
		<i class="icon-email"></i><span>Email</span>
	</a>
	<a class="resume linkedin" target="_blank" href="https://www.linkedin.com/in/ryan-watters-els-08010725">
		<i class="icon-linkedin"></i>
		<span>LinkedIn</span>
	</a>
	<a href="https://www.github.com/rdwatters" class="resume" target="_blank">
		<i class="icon-github"></i>
		<span>GitHub</span>
	</a>
</div>