<!DOCTYPE html>
<html lang="en">
<head>
{{ partial "site_header/metadata_standard.html" . }}
{{ partial "site_header/metadata_opengraph.html" . }}
{{ partial "site_header/metadata_schemaorg.html" . }}
{{ partial "site_header/metadata_twitter.html" . }}
{{ partial "site_header/metadata_prefetch.html" . }}
{{ partial "site_header/metadata_favicons.html" . }}
{{ partial "site_header/site_style.html" . }}
</head>
<body{{if .IsHome}} id="home"{{end}}>
{{ partial "site_header/google-tag-manager" . }}
	{{ "<!--[if lte IE 9]>" | safeHTML }}
      <div id="ie-only">
				<div id="ie-only">
      	<p>You are using an outdated browser. Please use a modern browser to access ryanwatters.io.</p>
				<img src="/assets/images/crying-cat.jpg" alt="Photo of a cat crying because you are using IE9.">
			</div>
			</div>
  {{ "<![endif]-->" | safeHTML }}
	<div id="page-top" aria-hidden="true"></div>
	{{partial "site_header/site_search_form.html" . }}
	{{partial "site_header/site_navigation.html" . }}
	{{partial "site_header/site_logo_homelink.html" . }}
	<div class="all-content-wrapper">




