<!DOCTYPE html>
<html lang="en">
<head>
	{{ partial "site_header/metadata.html" . }}
  {{ partial "site_header/metadata_standard.html" . }}
  {{ partial "site_header/metadata_opengraph.html" . }}
  {{ partial "site_header/metadata_schemaorg.html" . }}
  {{ partial "site_header/metadata_twitter.html" . }}
  {{ partial "site_header/metadata_prefetch.html" . }}
  {{ partial "site_header/metadata_favicons.html" . }}
	{{ partial "site_header/site_style.html" . }}
</head>
<body>
{{partial "site_header/site_search_form.html" . }}
{{partial "site_header/site_navigation.html" . }}
{{partial "site_header/site_logo_homelink.html" . }}
<main role="main" class="{{.Title | urlize }}" id="main">
<div class="all-content-wrapper">