<div class="sidebar-toggle-wrapper">
  <div class="sidebar-toggle"></div>
</div>
<nav class="site-navigation">
  <a href="/" class="site-logo darkbg sidebar-logo">{{ .Site.Title }}</a>
  {{$thisTitle := .Title }}
  {{ if ne "About" $thisTitle }}
  <a href="/about-me" role="button" id="about">About</a>
  {{ end }}
  <ul class="sidebar-navigation">
    {{ range first 5 (where .Site.Pages "Section" "posts").ByPublishDate.Reverse }}
      {{ if ne .Title $thisTitle }}
      <li>
        <a href="{{.Permalink}}" class="site-nav sidebar-link">
          <img src="/assets/images/thumbs/{{ .Params.image }}" alt="" class="grayscale">
          <section>
            <header>
            {{if gt (len .Title) 60 }}
            <h2 class="site-navigation-title"><span class="long-title">{{ .Title }}</span></h2>
            {{else}}
            <h2 class="site-navigation-title">{{ .Title }}</h2>
            {{end}}
            {{partial "publish_date.html" . }}
            </header>
          </section>
        </a>
      </li>
      {{ end }}
    {{ end }}
  </ul>
  {{if ne .Title "Posts"}}
  <a href="/posts" class="all-posts site-navigation">See all posts...</a>
  {{end}}
</nav>

