{{ partial "site_header.html" . }}
<a href="" id="page-top" class=""></a>
<article class="postWrapper">
  <section class="section--first u-table">
    {{ with .Params.image }}
    <div class="postHero {{.Title | urlize }}" style="background-image:url('/assets/images/{{ . }}.jpg');">
    {{ else }}
    <div class="postHero solid {{.Title | urlize }}">
    {{ end }}
      <div class="postMeta-wrapper">
        {{ if ne .Section "singletons" }}
        <ul class="postMeta">
          <li class="postMeta-datetime">
            <time datetime="{{ .Date }}">
            {{ if .Params.modified }}<strong class="updated">UPDATED:</strong> {{end}}{{ .Date.Format "January 2, 2006" }}
            </time>
          </li>
          {{ end }}
          {{ with .Params.categories }}
          <span class="dot"></span>
          <li>
          <a href="/categories/{{ . | urlize}}" class="category-tag">
            {{ . }}
          </a>
          </li>
        </ul>
        {{ end }}
        <h1 class="page-title">{{ if eq .Title "Resume"}}R&eacute;sum&eacute;{{else}}{{ .Title }}{{end}}</h1>
        <div class="hr">
          <hr>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body fancy-links" id="{{.Title | urlize}}">
        {{ .Content }}
      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
  </section>
</article>
{{ partial "site_footer.html" . }}