{{ partial "site_header.html" . }}
<a href="" id="page-top" class=""></a>
<article class="postWrapper">
  <section class="section--first u-table">
    <div class="postHero solid singles">
      <div class="postMeta-wrapper">
        <h1 class="page-title">{{ if eq .Title "Resume"}}R&eacute;sum&eacute;{{else}}{{ .Title }}{{end}}</h1>
        <div class="hr">
          <hr>
        </div>
        {{if eq .Title "Resume"}}
        {{partial "resume-contact.html" . }}
        {{end}}
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body fancy-links" id="{{.Title | urlize}}">
        {{ .Content }}
      </div>
    </div>
    <hr class="u-clearHr"/>
    <hr class="u-clearHr"/>
    <hr/>
  </section>
</article>
{{ partial "site_footer.html" . }}