//Primary
$cap-blue: rgb(0,154,191); //#009bbf
$cap-gray: rgb(195,198,200); //#c3c7ca
$cap-red: rgb(178,30,40); //#b41f28
$cap-black: rgb(0,0,0); //#000000

//Secondary
$cap-orange: rgb(222,139,5); //#de8d28
$cap-green: rgb(69,161,66); //#44a448
$cap-purple: rgb(89,44,130); //#592c82
