//Primary
$cap-blue: rgb(0, 154, 191); //#009bbf
$cap-gray: rgb(195, 198, 200); //#c3c7ca
$cap-red: rgb(178, 30, 40); //#b41f28
$cap-black: rgb(0, 0, 0); //#000000
$cap-white: #ffffff;
//Secondary
$cap-orange: rgb(222, 139, 5); //#de8d28
$cap-green: rgb(69, 161, 66); //#44a448
$cap-purple: rgb(89, 44, 130); //#592c82
// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------
// Include theme-specific fonts
@import url(../../lib/font/proximanova/proximanova.css);
// Override theme settings (see ../template/settings.scss)
$backgroundColor: $cap-white;
$mainColor: $cap-black;
$headingFont: 'Proxima Nova',
Helvetica,
sans-serif;
$headingLineHeight: 1;
$cap-logo-fill-color:$cap-blue;
//COLORS
$headingColor: $cap-black;
$h1Color:$headingColor;
$h1BorderColor: $headingColor;
$h2Color:$headingColor;
$h3Color:$headingColor;
$h4Color:$headingColor;
$h5Color:$headingColor;
$h6Color:$headingColor;
$listFontColor: $cap-black;
$dateAndTimeColor: $cap-black;
$paragraphColor: $cap-black;
$blinkingTextColor:$cap-red;
//HEADINGS
$h1FontWeight:800;
$h2FontWeight:400;
$h3FontWeight:400;
$h4FontWeight:400;
$h5FontWeight:400;
$h6FontWeight:400;
$h1BorderWidth:4px;
$h1HeadingTransform:none;
$h2HeadingTransform:uppercase;
$h3HeadingTransform:none;
$h4HeadingTransform:none;
$h5HeadingTransform:none;
$h6HeadingTransform:none;
$mainFontSize: 40px;
$mainFont: 'Proxima Nova',
Helvetica,
sans-serif;
$bodyFontWeight:400;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$linkColor: $cap-red;
$linkColorHover: lighten( $linkColor, 15%);
$selectionBackgroundColor: lighten( $linkColor, 25%);
$heading1Size: 2em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;
section.has-light-background {
    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: #222;
    }
}

div.slides section {
    background-color: rgba(255, 255, 255, 0.4);
}

div.slide section.nobg {
    background-color: rgba(255, 255, 255, 0.0);
}

div.cap-logo {
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(https://dl.dropboxusercontent.com/s/i2q37qtpjd6wvok/cap-logo-light-opacity.svg?dl=0);
    background-size: cover;
}

a.logo-homelink {
    width: 4vw;
    min-width: 30px;
    min-height: 40px;
    height: 10vh;
    display: block;
    max-height: 200px;
    max-width: 200px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99999999;
    cursor: pointer;
}

span.subtitle {
    border: 2px solid $h1Color;
    padding: .25em .75em;
}

.blinking {
    animation: blinker 1400ms linear infinite;
    color: $cap-red;
}

@keyframes blinker {
    50% {
        opacity: 0.0;
    }
}

.reveal section a {
    color: $linkColor;
}

.reveal section time {
    border: 2px solid $cap-white;
    padding: .25em;
}

.reveal section {
    small.emphasis,
    div.emphasis,
    li.emphasis,
    p.emphasis,
    h2.emphasis {
        color: $cap-red;
        font-weight: bold;
    }
    small.emphasis {
        margin-top: 1.5em;
        font-size: .8em;
        width: 100%;
        display: block;
        clear: both;
    }
}

small {
    display: block;
    width: 100%;
    clear: both;
}

p,
li,
time,
div {
    &.important {
        color: $cap-red!important;
    }
}

time.important, small.important, strong.important {
    color: $cap-red!important;
    font-weight:bold;
}

.reveal section .positive {
    color: $cap-blue;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
