//MEDIA QUERY VALUES
$S:480px;
$SM: 560px;
$M:760px;
$L:960px;
$XL:1200px;
$HUGE:1600px;

//COLORS
$base-font-color:#222222;
// $brand-primary: darken(red,25%);
$brand-primary:darken(#4D9ABF,20%);
$accent-color:darken(red,25%);
$link-color: $brand-primary;
$link-color-event: darken($link-color,15%);
$link-event-text-decoration: none;
$dark-bg-color:$base-font-color;
$white: #ffffff;
$black: #111111;
$body-bg-color: $white !default;

$use-font-face-module:true;//required for first $font declaration
$use-font-two: true;
$use-font-three: true;
$font: 'proximanova';
$font-two: 'adelle';
$font-three: 'courierprime';
$use-font-awesome: false;

//TYPOGRAPHY
$base-font-size:20px;
$base-font-weight: 300;
$base-font-weight-retina: 300;
$base-font-family:$font,$helvetica;
$heading-font-family:'adelle',$georgia;
$heading-font-base-weight:100;
$base-line-height:1.5;
$heading-base-line-height:1.2;

//DATES
$datetime-text-transform:uppercase;

//TRANSITIONS
$base-transition-time: .3s;

//CONTENT
$content-max-width: 32em;

//INDIVIDUAL POSTS
//only applies to bottom-style links for prev/next
$post-footer-links-max-width:$HUGE;
$single-page-hero-bg-color:$base-font-color;
$selected-text-bg-color:$brand-primary;
$selected-text-color:$white;

/************COMPONENTS********/

//TABLE OF CONTENTS
$toc-border-desktop-plus: 1px solid #d9d9d9;
$toc-header-bg-color: $brand-primary;
$toc-header-text-color: $white;
$toc-bg-color: $body-bg-color;
$toc-toggle-button-border-radius: 4px;
$toc-toggle-button-color-open: $black;
$toc-as-card-on-l-screen:false;

//BUTTONS
$button-text-align:center;
$button-dark-color:$base-font-color;
$button-light-color:$white;
$button-border-radius: 3px;
$button-font-family:$heading-font-family;
$button-font-weight:100;

//SEARCH
$search-bg-color:$link-color;

//SITE NAVIGATION
$site-navigation-bg-color: $base-font-color;
$site-navigation-width: 280px;

//INPUTS
$placeholder-text-color: white;
$placeholder-text-opacity: 1;
$placeholder-text-font-size: 12px;

//CODEBLOCKS
$code-font-family: $font-three,'Courier Prime', courier,monospace;
$code-tooltip-bg-color: $brand-primary;
$code-block-base-font-color: white;
$code-block-background-color: $base-font-color;



//SOCIAL MEDIA COLORS
$twitter:#00aced;
$github:#AB5B50;
$youtube:#bb0000;
$googleplus:#dd4b39;
$facebook:#3b5998;
$rss:#FF6600;
$pinterest:#cb2027;
$instagram:#517fa4;
$linkedin:#007bb6;
$vine:#00bf8f;
$tumblr:#32506d;
$vimeo:#aad450;
$foursquare:#0072b1;
