//Sass architecture (very) slightly modified from Sass guidelines: http://sass-guidelin.es/
@charset 'UTF-8';
// VENDOR
@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'grayscale/grayscale';

// 1. Configuration and helpers
@import 'variables';
@import 'abstracts/mediaqueries';
@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/animations';

// 2. Base styles
@import 'base/normalize';
@import 'base/base';
@import 'base/fonts';
@import 'base/fontello';
@import 'base/typography';

// 3. Layout-related sections
@import 'layout/header-and-site-navigation';
@import 'layout/footer';
@import 'layout/list-pages';
@import 'layout/article-body';
@import 'layout/page-not-found';

// 4. Components
@import 'components/images-and-figures';
@import 'components/buttons';
@import 'components/search';
@import 'components/site-logo';
@import 'components/table-of-contents';
@import 'components/videos-and-iframes';
@import 'components/comments';
// @import 'components/blockquotes';
@import 'components/codeblocks';
@import 'components/clipboardjs-tooltips';
@import 'components/prevnextlinks-bottom';
@import 'components/social-media-sharing';
@import 'components/tangent';
@import 'components/bumble-and-tinder.scss';
@import 'components/footnotes';
@import 'components/code';
// @import 'components/prevnextlinks-sides';
// 5. Page-specific styles
@import 'pages/home';
@import 'pages/resume';
@import 'pages/404';
@import 'pages/colophon';
// 6. Themes
@import 'themes/default';

#rightpoint,.rightpoint,.rightpoint-hero {
	font-family:"proximanova","Proxima Nova","Avenir Next","Avenir","helvetica neue",helvetica,arial,sans-serif;
}

header.hero.single-page.rightpoint-hero {
    background-color: #000000;
}

#rightpoint.body-copy {
    h2,h3,h4,h5 {
        font-family:"freighttextpro","Freight Text Pro",georgia;
        font-weight:bolder;
    }
    h2,h3 {
        margin-bottom:1em;
    }
    a {
        transition:all .3s ease-in-out;
        color:inherit;
        text-decoration:underline;
        font-weight:inherit;
        &:hover {
            transition:all .3s ease-in-out;
            color:#EE2123;
        }
    }
    p,blockquote,ul,li,ol {
        font-weight:100;
    }
    blockquote {
        font-size: 1em;
        margin: 0px;
        width: 100%;
        border-left:3px solid #EE2123;
        padding-left:12px;
        margin-left:-12px;
        > p {
            font-size: 1.2em;
            width: 100%;
        }
    }
    @include MQ(L) {
        blockquote {
            float: none;
            // margin: 0px;
            width: 100%;
            > p {
            	width:100%;
            }
        }
    }
}

h1.no-image {
    font-family:"proximanova";
    &.rightpoint-page-title {
        width:auto;
        display:inline-block;
        text-transform:uppercase;
        border-bottom:3px solid #EE2123;
    }
}
