{{ partial "site_header.html" . }}
<div class="container container--content">
    <div class="list-page">
        <header>
            <h1 class="list-page-title">All {{ .Title }}</h1>
        </header>
        {{ range .Data.Pages.GroupByPublishDate "2006"}}
        <h2 class="archive-year" id="{{.Key}}">{{.Key}}</h2>
        <ul class="contents-list">
            {{ range sort .Pages "PublishDate" "desc" }}
            <li>
                <a href="{{.Permalink}}" class="content-link">
                    <div class="list-time">
                        {{partial "publish_date.html" . }}
                    </div>
                    <div class="content-list-image grayscale" style="background-image:url(/assets/images/thumbs/{{.Params.image | default "site-logo"}}-thumb.jpg);">
                    </div>
                    <section class="content-info">
                        <h3 class="list-title-archive">{{ .Title }}</h2>
                        <p class="list-description">{{ .Description }}</p>
                    </section>
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </div>
</div>
{{ partial "toc-posts-archive.html" . }}
{{ partial "site_footer.html" . }}
