{{ partial "site_header.html" . }}
    <main role="main" class="list-page">
        <header>
            <h1 class="list-page-title">All {{ .Title }}</h1>
        </header>
        {{ range .Data.Pages.GroupByPublishDate "January 2006"}}
        <h2 class="archive-year" id="{{.Key | urlize}}">{{.Key}}</h2>
        <ul class="contents-list">
            {{ range sort .Pages "PublishDate" "desc" }}
            <li class="content-list-item grayscale">
                <a href="{{.Permalink}}" class="content-list-link">
                    <div class="content-list-image" style="background-image:url(/assets/images/thumbs/{{.Params.image | default "site-logo.jpg"}})">
                    {{partial "publish_date.html" . }}
                    </div>
                    <section>
                        <header class="content-list-item-header">
                        {{if gt (len .Title) 60}}
                        <h3 class="list"><span class="long-title">{{.Title | markdownify}}</span></h3>
                        {{else}}
                        <h3 class="list">{{.Title | markdownify}}</h3>
                        {{end}}
                        <p class="list-description">{{ .Description }}</p>
                        </header>
                    </section>
                </a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </main>
{{ partial "pages/toc_archive.html" . }}
{{ partial "site_footer.html" . }}
