{{- $okpages := where .Site.RegularPages ".Params.removefromsearch" "==" nil -}}
{{- $totalpages := sub (len $okpages) 1 -}}
[
	{{ range $index, $page := $okpages}}
		{"url": "{{ $page.URL }}",
		"title": "{{ $page.Title | markdownify | plainify }}",
		"subtitle": "{{ $page.Params.subtitle | default "" }}",
		"tags": [{{ range $tindex, $tag := $page.Params.tags }}{{ if $tindex }}, {{ end }}"{{ $tag }}"{{ end }}],
		"description": "{{.Description}}",
		"content": {{$page.Plain | jsonify}}}{{if lt $index $totalpages}},{{ end }}
	{{ end }}
]
