@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
/*******************************
            Global
*******************************/

* {
    line-height: 1.4em;
    font-family: 'Lato', sans-serif;
}
html, body {
    font-size: 15px;
    height: 100%;
}
body {
    font-family: 'Lato', sans-serif;
    background: #FFFFFF;
    margin: 0px;
    padding: 0px;
    color: #555555;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}
/*******************************
          UI Overrides
*******************************/

.ui.header {
    font-family: 'Lato', sans-serif;
}
.ui.header, h1, h2 {
    font-weight: normal !important;
}
h1.ui.header {
    font-size: 3em;
}
h4.ui.header, h5.ui.header, .ui.icon.header {
    font-weight: bold !important;
}
.ui.button {
    font-weight: normal;
    text-decoration: none;
}
a {
    color: #048BC9;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
a:hover {
    color: #99D8F2;
}
p a {
    font-weight: bold;
}
.footer {
    color: #01589b!important;
    background: rgba(204, 202, 204, 1);
    background: -moz-linear-gradient(top, rgba(204, 202, 204, 1) 0%, rgba(168, 165, 168, 1) 0%, rgba(209, 209, 209, 1) 42%, rgba(209, 209, 209, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204, 202, 204, 1)), color-stop(0%, rgba(168, 165, 168, 1)), color-stop(42%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(209, 209, 209, 1)));
    background: -webkit-linear-gradient(top, rgba(204, 202, 204, 1) 0%, rgba(168, 165, 168, 1) 0%, rgba(209, 209, 209, 1) 42%, rgba(209, 209, 209, 1) 100%);
    background: -o-linear-gradient(top, rgba(204, 202, 204, 1) 0%, rgba(168, 165, 168, 1) 0%, rgba(209, 209, 209, 1) 42%, rgba(209, 209, 209, 1) 100%);
    background: -ms-linear-gradient(top, rgba(204, 202, 204, 1) 0%, rgba(168, 165, 168, 1) 0%, rgba(209, 209, 209, 1) 42%, rgba(209, 209, 209, 1) 100%);
    background: linear-gradient(to bottom, rgba(204, 202, 204, 1) 0%, rgba(168, 165, 168, 1) 0%, rgba(209, 209, 209, 1) 42%, rgba(209, 209, 209, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cccacc', endColorstr='#d1d1d1', GradientType=0);
    padding-top: 0px!important;
    margin-top: 0px;
}
/*******************************
            Global
*******************************/
/*rtl:ignore*/

.menu .right.menu > .mobile.item {
    display: none;
}
.ui.page.grid.segment {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
.masthead.segment {
    background: rgba(65, 92, 119, 1);
    background: -moz-linear-gradient(top, rgba(65, 92, 119, 1) 0%, rgba(9, 24, 38, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(65, 92, 119, 1)), color-stop(100%, rgba(9, 24, 38, 1)));
    background: -webkit-linear-gradient(top, rgba(65, 92, 119, 1) 0%, rgba(9, 24, 38, 1) 100%);
    background: -o-linear-gradient(top, rgba(65, 92, 119, 1) 0%, rgba(9, 24, 38, 1) 100%);
    background: -ms-linear-gradient(top, rgba(65, 92, 119, 1) 0%, rgba(9, 24, 38, 1) 100%);
    background: linear-gradient(to bottom, rgba(65, 92, 119, 1) 0%, rgba(9, 24, 38, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#415c77', endColorstr='#091826', GradientType=0);
    background-size: cover;
    margin: 0em;
    padding-top: 4rem;
    overflow: hidden;
    -webkit-box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
    box-shadow: 0 -20px 10px 0 rgba(0, 0, 0, 0.1) inset !important;
}
.masthead.segment .column {
    position: relative;
}
.masthead.segment .information {
    margin: 3em 1em 1em 280px;
}
.masthead.segment .information p {
    max-width: 600px;
    margin: 0em 0px 2em 0em;
    font-size: 1.2em;
}
.masthead.segment h1.ui.header .sub {
    font-size: 0.7em;
}
.masthead.segment .image {
    position: absolute;
    left: 0%;
    bottom: -110px;
}
.overview .divided.grid .header + p {
    min-height: 100px;
}
.ui.shape .icon, .link.list .icon {
    margin: 0em;
    padding: 0em;
}
.ui.cube.shape .side {
    background-color: transparent;
}
/*******************************
          Responsive
*******************************/
/* Mobile Only */

@media only screen and (max-width: 768px) {
    .ui.page.grid.segment {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    /*rtl:ignore*/
    
    .menu .right.menu > .item {
        display: none;
    }
    /*rtl:ignore*/
    
    .menu .right.menu > .mobile.item {
        display: block;
    }
    h1.ui.header {
        font-size: 1.5em;
    }
    .masthead.segment {
        background-size: auto;
    }
    .masthead.segment .information {
        margin-left: 190px;
    }
    .masthead.segment .image {
        bottom: -65px;
        width: 150px;
    }
    .masthead.segment .button {
        font-size: 1rem;
    }
    .overview .divided.grid .header .icon {
        font-size: 1.5em;
    }
    .overview .divided.grid .header + p {
        min-height: 0px;
    }
    .masthead.segment .column {
        font-size: 0.7rem;
    }
    .masthead.segment .column p {
        display: none;
    }
    /*rtl:ignore*/
    
    .selection.list .right.floated {
        display: none;
    }
}
.notewell {
    font-weight: bold;
    color: #01589b;
}
.fmform {
    max-width: 700px;
}
.newmenuhover a:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.newmenu2:hover {
    color: #01589B!important;
}
.reqNew {
    color: maroon!important;
}
.codeblockrendered th, .codeblockrendered td {
    outline-style: none!important;
    outline-width: 0px!important;
    outline-color: black!important;
    padding-left: 8px;
    padding-right: 5px;
}
h1.quickstarthead {
    padding-top: -15px!important;
    margin-top: -20px!important;
}
.nocode {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    width: 0px!important;
    padding: 0px!important;
    height: 0px!important;
    outline: none!important;
}
.nope {
    display: none!important;
}
.copyandpaste {
    width: 600px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 3px solid #048BC9;
    color: #048BC9;
    text-align: center;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(107, 106, 107, 1);
    -moz-box-shadow: 10px 10px 5px -4px rgba(107, 106, 107, 1);
    box-shadow: 10px 10px 5px -4px rgba(107, 106, 107, 1);
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    
    padding-top: 25px;
    height: 0;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.backgrounder {
    margin: auto;
    z-index: -99;
    opacity: 0.6;
}
/*******************************
          404 Page
*******************************/

.blackBackground {
    background-color: black!important;
}
/*404 Page End*/

.keystroke {
    border: 1px solid black;
    padding: 2px;
    font-weight: bold;
    margin: 2px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
.codeblockspecial {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border: 1px solid #01589B;
    background-color: white!important;
    max-width: 100%;
}
